@page "/"

@inject IStringLocalizer<ClientResources> Loc

<PageTitle>@Loc[ResourceConstants.HomeTitle]</PageTitle>

<h1>@Loc[ResourceConstants.HomeCaption]</h1>

Welcome to your new Fluent Blazor app.
